# Ignore temporary files produced by qhull build
library/qhull-2012.1/bin/
library/qhull-2012.1/lib/
.DS_Store
*.ipynb_checkpoints*
*~
\#*#
.#*
*.swp
*.swo
*.swn
*.o
*.log
.g4cmp-version
CMakeLists.txt.user*
epositions.txt
*.png
*__pycache__*
.vscode
build/
*-build/
Build/
*_Build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
*.a
*.so
*.dylib
*.dll
*.exe
Thumbs.db
